#control-panel {
  background-color: #fff;
  height: 25px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;
}

.applied-button {
  background-color: rgb(180, 180, 180)
}